.App-header h2 {
  margin: 0;
  padding: 7px 0;
  font-size: 100%;
}

div.card {
  padding: 15px;
  text-align: left;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin: 15px;
}

button {
  border: 1px solid #a7ce39;
  padding: 10px 20px;
  border-radius: 5px;
  background: #fff;
  color: #a7ce39;
}
div.buttonMargin {
  height: 30px;
  display: block;
}

div.submenu {
  background: #5d4f4f;
  padding: 7px;
}
div.submenu button {
  width: 20%;
  margin: 0 2.5%;
  border-color: #fff;
  background: #5d4f4f;
  padding: 7px 0;
}
div.submenu a,div.submenu a:visited {
  color: #fff;
  font-size: 80%;
}

div.bottomMenu {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #5d4f4f;
  padding: 10px 0;
}
div.bottomMenu button {
  width: 25%;
  height: 30px;
  padding: 0;
  border: none;
  text-align: center;
  background: #5d4f4f url(/opaque.png) right repeat-y;
}
div.bottomMenu button:last-child {
  background-image: none;
}
div.bottomMenu a,div.bottomMenu a:visited {
  width: 100%;
  color: #f4811f;
  display: block;
}
@media screen and (max-width:430px) {
  div.bottomMenu a {
    font-size: 80%;
  }
}

a,a:visited {
  color: #a7ce39;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
